*{
    margin: 0%;
    padding: 0%;
}
#home{
    background-color:rgba(255,76,104);

}
.big-heading{
    color: white;
    padding: 10px 10px;
    word-spacing: 5px;
    font-size: 3.5rem;
    margin: 10px;
    
}
.container-fluid{
    padding: 3% 15%;
}
.navbar-nav{
    position: static;
    margin-bottom: 30px;
}
.nav-item{
    padding: 0px 15px;
     
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
    color: white;
}
.navbar-brand{
    font-size: 30px;
    font-family: verdana;
    font-weight: bold;
}
.title-image{
    width: 20%;
    transform: rotate(25deg);
    margin: 30px 130px;
    position: absolute;
    
}
.play{
    border: 1px solid black;
    transition: 1s;
}
.play:hover{
   background-color:white;
}
.btn{
    position: static;
    margin: 15px;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
}
.fa-solid{
    margin-bottom: 5%;
    color: rgba(255,76,104);
}
.fa-solid:hover{
    color: brown;
}
#content{
    padding: 7% 15%;
    text-align: center;
    background-color: rgba(255,76,104);
}
.imgs{
    border-radius: 100%;
    width: 10%;
    margin:20px;
}
h2{
    color: white;
    font-family: verdana;
    font-style: italic;
    font-weight: bold;
}
#brand{
    background-color: rgba(255,76,104);
    padding: 4% 5%;
}
#items{
    margin-left: 5%;
    padding: 4% 5% 5%;
    text-align: center;
}
.sign{
    padding: 10px 90px;
}
.media{
   text-align: center;
   margin-bottom: 50px;

}
.fa-brands{
    padding: 10px 10px;
}
@media(max-width:970px){
   .brands{
       padding: 20px;
   } 
   .carousel-item{
       padding: 20px;
   }
}